---
import { images } from "@/constants";
import { Button } from "@/components";
import { Image } from "astro:assets";
---

<section
  id="about"
  class="lg:mt-0 relative w-full h-full pt-32 -pb-10 lg:pb-0 md:pt-0"
>
  <Image
    src={images.bg}
    width={3000}
    alt=""
    class="absolute inset-0 w-full h-[130%] lg:h-[110%] md:h-full object-cover -z-[5]"
  />

  <div class="absolute -z-[4] flex items-center justify-center w-full h-full">
    <Image
      width={400}
      src={images.G}
      loading={"eager"}
      alt="G Letter"
      class="w-[400px] h-[420px]"
    />
  </div>
  <div
    class="container flex flex-col items-center justify-center w-full h-screen xl:flex-row"
  >
    <article
      class="flex flex-col items-end justify-center w-full text-right gap-y-4 md:gap-y-6"
    >
      <h1 class="h3">About Us</h1>
      <Image src={images.spoon} alt="" />
      <p class="opacity-80">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
        adipiscing ultrices vulputate posuere tristique. In sed odio nec aliquet
        eu proin mauris et.
      </p>
      <Button>Know More</Button>
    </article>
    <div class="px-10 py-4 md:py-0 -z-[3]">
      <Image
        src={images.knife}
        alt=""
        class="w-[40px] h-[320px] xl:w-[200px] xl:h-[600px]"
      />
    </div>
    <article
      class="flex flex-col items-start justify-center w-full text-left gap-y-4 md:gap-y-6"
    >
      <h1 class="h3">Our History</h1>
      <Image src={images.spoon} alt="" />
      <p class="opacity-70">
        Adipiscing tempus ullamcorper lobortis odio tellus arcu volutpat. Risus
        placerat morbi volutpat habitasse interdum mi aliquam In sed odio nec
        aliquet.
      </p>
      <Button>Know More</Button>
    </article>
  </div>
</section>
